node-red/esp32-relay-confirmacao-flow.json
[
  {
    "id": "f7b8f0f7a8c10001",
    "type": "tab",
    "label": "ESP32 Reles Confirmacao",
    "disabled": false,
    "info": "Controla os 8 reles e valida confirmacao pela resposta /api/status"
  },
  {
    "id": "f7b8f0f7a8c10010",
    "type": "function",
    "z": "f7b8f0f7a8c10001",
    "name": "Build URL + contexto",
    "func": "const base = \"http://192.168.1.181\";\n\nif (!msg.payload || typeof msg.payload !== \"object\") {\n    node.error(\"payload invalido: esperado objeto\", msg);\n    return null;\n}\n\nconst cmd = {\n    ch: Number(msg.payload.ch),\n    state: Number(msg.payload.state) ? 1 : 0\n};\n\nif (!Number.isInteger(cmd.ch) || cmd.ch < 1 || cmd.ch > 8) {\n    node.error(\"ch deve ser inteiro entre 1 e 8\", msg);\n    return null;\n}\n\nmsg.cmd = cmd;\nmsg.method = \"GET\";\nmsg.url = `${base}/api/relay?ch=${cmd.ch}&state=${cmd.state}`;\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 670,
    "y": 320,
    "wires": [
      [
        "f7b8f0f7a8c10011"
      ]
    ]
  },
  {
    "id": "f7b8f0f7a8c10011",
    "type": "http request",
    "z": "f7b8f0f7a8c10001",
    "name": "ESP32 API",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": true,
    "headers": [],
    "x": 880,
    "y": 320,
    "wires": [
      [
        "f7b8f0f7a8c10012"
      ]
    ]
  },
  {
    "id": "f7b8f0f7a8c10012",
    "type": "function",
    "z": "f7b8f0f7a8c10001",
    "name": "Validar confirmacao",
    "func": "const cmd = msg.cmd || {};\nconst p = msg.payload || {};\n\nif (p.ok !== true || !Array.isArray(p.relays)) {\n    msg.confirmed = false;\n    msg.reason = \"Resposta sem formato esperado\";\n    return [null, msg];\n}\n\nconst idx = Number(cmd.ch) - 1;\nif (!Number.isInteger(idx) || idx < 0 || idx > 7) {\n    msg.confirmed = false;\n    msg.reason = \"Contexto cmd invalido\";\n    return [null, msg];\n}\n\nconst expected = Number(cmd.state) ? 1 : 0;\nconst got = Number(p.relays[idx]) ? 1 : 0;\n\nmsg.expected = expected;\nmsg.got = got;\nmsg.confirmed = expected === got;\n\nif (msg.confirmed) {\n    msg.payload = {\n        ok: true,\n        relay: idx + 1,\n        state: got,\n        uptime: p.uptime\n    };\n    return [msg, null];\n}\n\nmsg.payload = {\n    ok: false,\n    relay: idx + 1,\n    expected: expected,\n    got: got,\n    uptime: p.uptime\n};\nmsg.reason = \"Estado final nao corresponde ao comando\";\nreturn [null, msg];",
    "outputs": 2,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1110,
    "y": 320,
    "wires": [
      [
        "f7b8f0f7a8c10013",
        "f7b8f0f7a8c10018"
      ],
      [
        "f7b8f0f7a8c10014",
        "f7b8f0f7a8c10019"
      ]
    ]
  },
  {
    "id": "f7b8f0f7a8c10013",
    "type": "debug",
    "z": "f7b8f0f7a8c10001",
    "name": "Confirmado",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload.relay & ':' & payload.state",
    "statusType": "jsonata",
    "x": 1320,
    "y": 300,
    "wires": []
  },
  {
    "id": "f7b8f0f7a8c10014",
    "type": "debug",
    "z": "f7b8f0f7a8c10001",
    "name": "Falha confirmacao",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "true",
    "targetType": "full",
    "statusVal": "reason",
    "statusType": "msg",
    "x": 1330,
    "y": 340,
    "wires": []
  },
  {
    "id": "f7b8f0f7a8c10018",
    "type": "function",
    "z": "f7b8f0f7a8c10001",
    "name": "Texto OK",
    "func": "msg.payload = `OK: Relay ${msg.payload.relay} -> ${msg.payload.state ? 'ON' : 'OFF'} (uptime ${msg.payload.uptime}s)`;\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1310,
    "y": 260,
    "wires": [
      [
        "f7b8f0f7a8c1001a"
      ]
    ]
  },
  {
    "id": "f7b8f0f7a8c10019",
    "type": "function",
    "z": "f7b8f0f7a8c10001",
    "name": "Texto ERRO",
    "func": "const r = msg.payload || {};\nmsg.payload = `ERRO: Relay ${r.relay} esperado=${r.expected} recebido=${r.got}`;\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1320,
    "y": 380,
    "wires": [
      [
        "f7b8f0f7a8c1001a"
      ]
    ]
  },
  {
    "id": "f7b8f0f7a8c1001a",
    "type": "debug",
    "z": "f7b8f0f7a8c10001",
    "name": "Resumo",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1490,
    "y": 320,
    "wires": []
  },
  {
    "id": "f7b8f0f7a8c10015",
    "type": "inject",
    "z": "f7b8f0f7a8c10001",
    "name": "R1 ON",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"ch\":1,\"state\":1}",
    "payloadType": "json",
    "x": 130,
    "y": 120,
    "wires": [["f7b8f0f7a8c10010"]]
  },
  {
    "id": "f7b8f0f7a8c10016",
    "type": "inject",
    "z": "f7b8f0f7a8c10001",
    "name": "R1 OFF",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"ch\":1,\"state\":0}",
    "payloadType": "json",
    "x": 130,
    "y": 160,
    "wires": [["f7b8f0f7a8c10010"]]
  },
  {
    "id": "f7b8f0f7a8c10017",
    "type": "inject",
    "z": "f7b8f0f7a8c10001",
    "name": "R2 ON",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"ch\":2,\"state\":1}",
    "payloadType": "json",
    "x": 130,
    "y": 200,
    "wires": [["f7b8f0f7a8c10010"]]
  },
  {
    "id": "f7b8f0f7a8c10020",
    "type": "inject",
    "z": "f7b8f0f7a8c10001",
    "name": "R2 OFF",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"ch\":2,\"state\":0}",
    "payloadType": "json",
    "x": 130,
    "y": 240,
    "wires": [["f7b8f0f7a8c10010"]]
  },
  {
    "id": "f7b8f0f7a8c10021",
    "type": "inject",
    "z": "f7b8f0f7a8c10001",
    "name": "R3 ON",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"ch\":3,\"state\":1}",
    "payloadType": "json",
    "x": 130,
    "y": 280,
    "wires": [["f7b8f0f7a8c10010"]]
  },
  {
    "id": "f7b8f0f7a8c10022",
    "type": "inject",
    "z": "f7b8f0f7a8c10001",
    "name": "R3 OFF",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"ch\":3,\"state\":0}",
    "payloadType": "json",
    "x": 130,
    "y": 320,
    "wires": [["f7b8f0f7a8c10010"]]
  },
  {
    "id": "f7b8f0f7a8c10023",
    "type": "inject",
    "z": "f7b8f0f7a8c10001",
    "name": "R4 ON",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"ch\":4,\"state\":1}",
    "payloadType": "json",
    "x": 130,
    "y": 360,
    "wires": [["f7b8f0f7a8c10010"]]
  },
  {
    "id": "f7b8f0f7a8c10024",
    "type": "inject",
    "z": "f7b8f0f7a8c10001",
    "name": "R4 OFF",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"ch\":4,\"state\":0}",
    "payloadType": "json",
    "x": 130,
    "y": 400,
    "wires": [["f7b8f0f7a8c10010"]]
  },
  {
    "id": "f7b8f0f7a8c10025",
    "type": "inject",
    "z": "f7b8f0f7a8c10001",
    "name": "R5 ON",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"ch\":5,\"state\":1}",
    "payloadType": "json",
    "x": 320,
    "y": 120,
    "wires": [["f7b8f0f7a8c10010"]]
  },
  {
    "id": "f7b8f0f7a8c10026",
    "type": "inject",
    "z": "f7b8f0f7a8c10001",
    "name": "R5 OFF",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"ch\":5,\"state\":0}",
    "payloadType": "json",
    "x": 320,
    "y": 160,
    "wires": [["f7b8f0f7a8c10010"]]
  },
  {
    "id": "f7b8f0f7a8c10027",
    "type": "inject",
    "z": "f7b8f0f7a8c10001",
    "name": "R6 ON",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"ch\":6,\"state\":1}",
    "payloadType": "json",
    "x": 320,
    "y": 200,
    "wires": [["f7b8f0f7a8c10010"]]
  },
  {
    "id": "f7b8f0f7a8c10028",
    "type": "inject",
    "z": "f7b8f0f7a8c10001",
    "name": "R6 OFF",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"ch\":6,\"state\":0}",
    "payloadType": "json",
    "x": 320,
    "y": 240,
    "wires": [["f7b8f0f7a8c10010"]]
  },
  {
    "id": "f7b8f0f7a8c10029",
    "type": "inject",
    "z": "f7b8f0f7a8c10001",
    "name": "R7 ON",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"ch\":7,\"state\":1}",
    "payloadType": "json",
    "x": 320,
    "y": 280,
    "wires": [["f7b8f0f7a8c10010"]]
  },
  {
    "id": "f7b8f0f7a8c1002a",
    "type": "inject",
    "z": "f7b8f0f7a8c10001",
    "name": "R7 OFF",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"ch\":7,\"state\":0}",
    "payloadType": "json",
    "x": 320,
    "y": 320,
    "wires": [["f7b8f0f7a8c10010"]]
  },
  {
    "id": "f7b8f0f7a8c1002b",
    "type": "inject",
    "z": "f7b8f0f7a8c10001",
    "name": "R8 ON",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"ch\":8,\"state\":1}",
    "payloadType": "json",
    "x": 320,
    "y": 360,
    "wires": [["f7b8f0f7a8c10010"]]
  },
  {
    "id": "f7b8f0f7a8c1002c",
    "type": "inject",
    "z": "f7b8f0f7a8c10001",
    "name": "R8 OFF",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"ch\":8,\"state\":0}",
    "payloadType": "json",
    "x": 320,
    "y": 400,
    "wires": [["f7b8f0f7a8c10010"]]
  },
  {
    "id": "f7b8f0f7a8c1002d",
    "type": "inject",
    "z": "f7b8f0f7a8c10001",
    "name": "Ler estado geral",
    "props": [
      { "p": "method", "v": "GET", "vt": "str" },
      { "p": "url", "v": "http://192.168.1.181/api/status", "vt": "str" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 150,
    "y": 460,
    "wires": [["f7b8f0f7a8c1002e"]]
  },
  {
    "id": "f7b8f0f7a8c1002e",
    "type": "http request",
    "z": "f7b8f0f7a8c10001",
    "name": "GET /api/status",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": true,
    "headers": [],
    "x": 390,
    "y": 460,
    "wires": [["f7b8f0f7a8c1002f"]]
  },
  {
    "id": "f7b8f0f7a8c1002f",
    "type": "debug",
    "z": "f7b8f0f7a8c10001",
    "name": "Estado geral",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 610,
    "y": 460,
    "wires": []
  },
  {
    "id": "f7b8f0f7a8c10030",
    "type": "catch",
    "z": "f7b8f0f7a8c10001",
    "name": "Erros HTTP/Func",
    "scope": [
      "f7b8f0f7a8c10010",
      "f7b8f0f7a8c10011",
      "f7b8f0f7a8c10012",
      "f7b8f0f7a8c1002e"
    ],
    "uncaught": false,
    "x": 150,
    "y": 520,
    "wires": [["f7b8f0f7a8c10031"]]
  },
  {
    "id": "f7b8f0f7a8c10031",
    "type": "debug",
    "z": "f7b8f0f7a8c10001",
    "name": "Erros",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "true",
    "targetType": "full",
    "statusVal": "error.message",
    "statusType": "msg",
    "x": 340,
    "y": 520,
    "wires": []
  }
]
